<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="|Hello, ${sth}!|" />
<!--Text literals are placed inside single quotes-->

<!-- n-ul din expresie este n-ul din metoda din controller, care este n-ul din link-ul URL -->
<!--https://spring.io/guides/gs/serving-web-content/-->
<p><a href="greeting.html"  th:href="@{/clients/greeting(n=${sth})}">Return</a>  to the same page my man.</p>

<!--<p>Age: <span th:text="${sth}?: 'no parameter specified'"/></p>  Elvis operator-->

</body>
</html>